@font-face {
  font-family: "Oranienbaum";
  src: url("./assets/fonts/oranienbaum-regular-webfont.woff2") format('woff2'),
       url("./assets/fonts/oranienbaum-regular-webfont.woff") format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;    
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/rubik-regular-webfont.woff2") format('woff2'),
       url("./assets/fonts/rubik-regular-webfont.woff") format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;    
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Oranienbaum", "Rubik", serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fff;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 66px;
}